.main_menu {
  font-size: 16px;
  z-index: 100;
  width: 100%;
  height: 3.125em;
  transform: translateX(calc(-100% + 3.125rem));
  transition: transform 0.4s;
  background: rgba($principal-color, 0.8);
  @media screen and (min-width: 768px) {
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    animation: 1s normal menu;
    @keyframes menu {
      0% {
        transform: translateY(-100%);
        opacity: -2;
      }
    }
  }
  @media screen and (min-width: 2000px) {
    font-size: 25px;
  }
  &__con-titel {
    width: calc(100% - 3.125rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
  &__titel {
    font-size: 1.5em;
    color: $text-color;
    text-decoration: none;
    padding: 0.3125em 20px;
    display: block;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      border-radius: 50%;
      font-size: 1.7em;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 6px;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(
          90deg,
          transparent,
          rgba($text-color, 0.5)
        );
      }
      &:hover::before {
        width: 100%;
        transition: width ease-in 0.5s;
      }
    }
    @media screen and (min-width: 1400px) {
      font-size: 2em;
    }
    @media screen and (min-width: 2000px) {
      font-size: 2.5em;
    }
  }
  &__con_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 100%;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__icon {
    background: $text-color;
    width: $width;
    height: $height;
    border-radius: $height/2;
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: $width;
      height: $height;
      border-radius: $height/2;
      background: $text-color;
      top: -0.5em;
    }
    &::after {
      top: 0.5em;
    }
  }
  &__con_tc {
    width: 100%;
    height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      width: calc(100% - 60%);
      display: inline-flex;
    }
    @media screen and (min-width: 2000px) {
      font-size: 25px;
    }
  }
}
.menu {
  transform: translateX(-100%);
  transition: transform 0.3s 0.1s;
  background: rgba($principal-color, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &--open_menu {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    width: 60%;
    height: 3.125em;
    display: inline-flex;
    align-items: center;
    transform: translateX(0);
    background: none;
  }
  @media screen and (min-width: 1500px) {
    font-size: 25px;
  }
  &__ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  &__enlace {
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      border-radius: 50%;
      margin-right: 0.3125em;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 6px;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(
          90deg,
          transparent,
          rgba($text-color, 0.5)
        );
      }
      &:hover::before {
        width: 100%;
        transition: width ease-in 0.5s;
      }
    }
    @media screen and (min-width: 1500px) {
      margin-right: 0.625em;
    }
  }
  &__link {
    padding: 0.625em;
    width: 100%;
    color: $text-color;
    display: block;
    text-align: center;
    text-decoration: none;
    @media screen and (min-width: 1400px) {
      font-size: 1.3rem;
    }
    @media screen and (min-width: 2000px) {
      font-size: 2.3rem;
    }
  }
}
